:root {
  --color_border: #333;

  --color_button_front: hsl(0deg 0% 38%);
  --color_button_edge: linear-gradient(
    to left,
    hsl(0deg 0% 15%) 0%,
    hsl(0deg 0% 30%) 8%,
    hsl(0deg 0% 30%) 92%,
    hsl(0deg 0% 15%) 100%
  );
}
