.boss_list {
  height: 100%;
  overflow: hidden;

  h2 {
    margin: 0 0 20px 0;

    font-size: 22px;
  }

  .toolbar {
    display: flex;
    gap: 10px;

    margin-bottom: 20px;
  }

  .filters {
    margin-bottom: 20px;
  }

  & > .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    padding: 0 0 20px;
    height: calc(100% - 110px);
    overflow: auto;
  }
}
