.boss_list {
  height: 100%;
  overflow: hidden;

  h2 {
    margin-bottom: 40px;
  }

  .toolbar {
    display: flex;
    gap: 10px;

    margin-bottom: 20px;
  }

  .filters {
    margin-bottom: 20px;
  }

  & > .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    height: 100%;
    overflow: auto;
  }
}
