@use "./styles/variables.scss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  padding: 0;
  margin: 0;
  box-sizing: border-box;

  ::-webkit-scrollbar {
    display: none;
  }
}

input {
  background-color: #242424;
  padding: 12px 16px; /* py-3 px-4 */
  outline: none;
  width: 100%;
  color: #ffffff;
  border-radius: 8px; /* rounded-lg */
  border: 2px solid var(--color_border); /* border-2 border-solid border-[#2B3040] */
  transition: border-color 100ms; /* transition-colors duration-100 */
}

input:focus {
  border-color: var(--color_border); /* focus:border-[#596A95] */
}
